<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRTC</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>AddMCHC</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Method GBIF To XBIF</string>
					<key>Find</key>
					<data>FEgWR0JJRgM=</data>
					<key>Replace</key>
					<data>FEgWWEJJRgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method GBIX To XBIX</string>
					<key>Find</key>
					<data>FEUXR0JJWAM=</data>
					<key>Replace</key>
					<data>FEUXWEJJWAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method GBST To XBST</string>
					<key>Find</key>
					<data>FEogR0JTVAQ=</data>
					<key>Replace</key>
					<data>FEogWEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method AJTP To XJTP</string>
					<key>Find</key>
					<data>FEsGQUpUUAM=</data>
					<key>Replace</key>
					<data>FEsGWEpUUAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method OWAK To PWAK</string>
					<key>Find</key>
					<data>FEBiT1dBSwE=</data>
					<key>Replace</key>
					<data>FEBiUFdBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method _L17 To XL17</string>
					<key>Find</key>
					<data>FEkIX0wxNwA=</data>
					<key>Replace</key>
					<data>FEkIWEwxNwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Notify BAT0 To BATC</string>
					<key>Find</key>
					<data>hkJBVDA=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Notify BAT1 To BATC</string>
					<key>Find</key>
					<data>hkJBVDE=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method _WAK To XWAK</string>
					<key>Find</key>
					<data>FEdTX1dBSw==</data>
					<key>Replace</key>
					<data>FEdTWFdBSw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _OSI To XOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _Q15 To XQ15 (Fn - F5)</string>
					<key>Find</key>
					<data>X1ExNQ==</data>
					<key>Replace</key>
					<data>WFExNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _Q14 To XQ14 (Fn - F6)</string>
					<key>Find</key>
					<data>X1ExNA==</data>
					<key>Replace</key>
					<data>WFExNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 To IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HECI To IMEI</string>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename SAT0 To SATA</string>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Scan</key>
		<dict>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>689E2193-3230-320A-853B-86799250CE66</string>
			<string>EE032DE1-01A3-40CB-ACE1-CCD0DEBBCC0A</string>
			<string>0E239BC6-F960-3107-89CF-1C97F78BB46B</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-cdfon lilucpu=9 uia_exclude=HS07</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Timeout</key>
		<integer>3</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>11</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAoA==</data>
			</dict>
		</dict>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x0</string>
		<key>CsrActiveConfig</key>
		<string>0x0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BoardSerialNumber</key>
		<string>REDACTED</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>SerialNumber</key>
		<string>REDACTED</string>
		<key>SmUUID</key>
		<string>REDACTED</string>
		<key>Trust</key>
		<false/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>